{include file="header" /}


        <!--Video-->
        <div class="intro-video view" id="home">
            

           
            <div class="hm-gradient">
                <div class="full-bg-img flex-center">
                    <div class="container smooth-scroll">
                        <div class="row">
                            <div class="col-md-12 white-text text-center smooth-scroll">
                                <div class="fadeInDown" data-wow-delay="0.2s">
                                    <h3 class="brand-name font-bold white-text mb-2">开始绘制流程图</h3>
                                    <hr class="hr-light">
                                    <h4 class="subtext-header mt-2 mb-2">只需十秒钟，注册后即可开始使用免费流程图、图表绘制服务</h4>
                                </div>
                                <a href="/Login" class="btn btn-rounded btn-light-green-2" ><i class="fa fa-paper-plane-o"></i> 注册</a>
                                <a href="/Home" class="btn btn-rounded btn-light-green-2" ><i class="fa fa-sign-in"></i> 登录</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin:0;position:fixed;left:0;right:0;bottom:1rem;text-align: center">
                <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102002950" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                    <img src="/static/img/beian.png" style="float:left;opacity:0.8"/>
                    <span style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:rgba(255, 255, 255, 0.4);">鄂公网安备 42011102002950号</span>
                </a>
                <span style="height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:rgba(255, 255, 255, 0.4);">鄂ICP备14013811号-3</span>
            </div>
        </div>
        <!--/Video-->

    </header>

        <!--/.Content-->
    </div>
</div>

    <!-- JQuery -->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    {$options.js_code}
    
</body>

</html>