
.intro-video
{
    text-align: center;
    padding: 8em 2em 2em 2em !important;
    border-radius: 0 !important;
}

#features .row{
    margin-bottom: 1em;
}

#features img{
    max-height: 256px;
}

#shares
{
    margin-top: 4em;
}

.table {
	margin-bottom: 0
}

.thumbbox{
    padding:0 0.4em
}

.thumblink{
	height: 150px;
    margin-bottom: 0 !important;
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

-webkit-tap-highlight-color: transparent;
}

.thumb{
    /* vertical-align:middle; */
}

.thumbspan{ 
    display:-webkit-box;
	display:-ms-flexbox;
	display:flex-box;
	display:flex;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
    text-align:center;
    height: 100%;
}

.share-name
{
	text-align: center;
	margin-bottom: 20px;
	
}

.share-name div{
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.file_info {
    font-size: 15px;
    background: rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 2px 2px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    color: rgba(255,255,255,0.6);
}

.file_info .down_span
{
    float: right;
}
